name: 'auto assign label to pull request'

on:
  - pull_request

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:

      - name: Add label
        uses: actions/labeler@v5
        with:
          repo-token: ${{secrets.GITHUB_TOKEN}}
          configuration-path: .github/labeler.yaml
